@use "../../sass/globals/variables";
@use "../../sass/globals/mixins";

.add-product-container {
  font-size: 1rem;

  .header {
    padding: 1rem 0;
    h2,
    small {
      display: block;
      text-align: center;
    }
  }

  &__contents {
    font-size: 1rem;

    form {
      & > * + * {
        margin-top: 1rem;
      }
      input {
        font-size: var(--fs-regular);
        @include mixins.input;
      }
      select {
        font-size: var(--fs-regular);
        @include mixins.select;
      }
      textarea {
        font-size: var(--fs-regular);
        resize: none;
        padding: 0.5rem;
      }

      input,
      select,
      textarea,
      button {
        display: block;
        width: min(50rem, 100%);
        margin-inline: auto;
      }

      button {
        padding: 0.5rem;
        display: block;
        cursor: pointer;
        @include mixins.button;
      }
    }
  }
}

@media (min-width: 1024px) {
  .add-product-container {
    &__contents {
      form {
        input {
        }
        select {
        }
        textarea {
        }

        button {
        }

        input,
        select,
        textarea {
        }
      }
    }
  }
}
